<h3> Asesores </h3>
<div class="span6">
    <div class="form-group">
        <label class="control-label">Todos</label>
        <input maxlength="100" class="form-control" type="checkbox" value="true">
    </div>
</div>
<div class="span6">
    <div class="form-group">
        <label class="control-label">Seleccionar</label>
        <span class="form-control btn btn-primary" ><i class="fa fa-search"></i></span>
    </div>
</div>