<div class="row" style="margin-top: 1em;">
	<div class="span3 "  >
        <label class="control-label">Tipo de regalo</label>
        <select id="tipoRegalo" >
        	<option value="volumen">Volumen de regalo</option>
        	<option value="descuento">Descuento financiero</option>
        </select>
    </div>
    <div class="span4" style="margin-top: 2em;">
	    <span class="form-control btn " data-module="users" ><i class="fa fa-search"></i> Crear regalo </span>
	</div>
</div>
