<div class="row-fluid">
	<h3>{{str 'LBL_PROMOTIONCONF_PRODUCTOS_TITLE'}}</h3>
</div>

<div class="row-fluid productos-criterio-grupos">
	
</div>

<div class="row-fluid productos-criterio-grupo hidden"></div>

{{!-- <div class="row-fluid">
	<textarea name="paste"></textarea>
	<a class="btn" name="clear-paste">{{str 'LBL_BTN_LIMPIAR_PASTE'}}</a>
</div>
<div class="row-fluid productos-criterio-grid" ></div> --}}