<div class="row-fluid group-list-container" >
<a class="btn" name="create-group">{{str 'LBL_BTN_CREATE_GROUP_PRODUCTOS_CRITERIO'}}</a>
<ul>
	{{#each collection.models}}
	<li class="group"><a href="#">{{attributes.name}}</a></li>
	{{/each}}
</ul>
	colleciton de modelos
</div>
<div class="row-fluid group-container hidden" >
	group container edit
</div>